In [1]:
import pandas as pd
import numpy as np
import pandas_profiling as pp

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

plt.style.use("fivethirtyeight")
plt.rcParams['figure.figsize'] = 12, 8

In [7]:
train = pd.read_csv("../../data/modulbank/train.csv", sep='\t')
test = pd.read_csv("../../data/modulbank/test.csv", sep='\t')

In [8]:
train.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,336,337,338,339,340,341,342,343,344,345
0,0,1,1,0,0,0,0,0,0.090909,0,...,0.221395,0,1,0,0,0.222222,1,1,1,1
1,1,1,1,0,0,1,0,0,0.090909,0,...,0.241508,0,1,0,0,0.111111,1,1,1,0
2,2,0,1,0,0,1,0,0,0.090909,0,...,0.123067,0,1,0,0,0.444444,1,1,1,1
3,3,0,1,0,0,1,0,0,0.136364,0,...,0.296065,0,0,1,0,0.222222,1,1,1,0
4,4,0,1,0,0,1,0,0,0.136364,0,...,0.178956,0,0,1,0,0.111111,1,1,1,1

In [9]:
test.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,336,337,338,339,340,341,342,343,344,345
0,0,NaN,1,0,0,1,0,0,0.136364,0,...,0.192984,0,1,0,0,0.222222,1,1,1,1
1,1,NaN,1,0,0,1,0,0,0.181818,0,...,0.195690,0,1,0,0,0.000000,1,1,1,0
2,2,NaN,1,0,0,0,0,0,0.090909,0,...,0.192984,0,1,0,0,0.222222,1,1,1,0
3,3,NaN,1,0,0,1,0,0,0.090909,0,...,0.195690,0,1,0,0,0.000000,1,1,1,0
4,4,NaN,1,0,0,1,0,0,0.090909,0,...,0.289893,0,0,1,0,0.000000,1,1,1,1

In [10]:
profile = pp.ProfileReport(train)
profile.to_file(outputfile="statistic_train.html")

In [11]:
profile = pp.ProfileReport(test)
profile.to_file(outputfile="statistic_test.html")